<div class="clearfix booking-form neon-lit-background">
  <div class="booking-form__heading no-print">
    <div>
      <div
        class="neon-border neon-border--flush neon-border--blue neon-border--topgap-xxs neon-border--bottomgap-xxs">
        <a
          id="a1"
          class="h1 type-decorative text-glow pink"
          href=" mailto:liorqm@gmail.com?subject=contact us&body=contact us%20body">contact - us</a>
        <h1
          id="a2"
          class="h1 type-decorative text-glow pink"
          onclick="location.href='tel:05052356595'"
          >
          call - us
        </h1>
      </div>
    </div>
  </div>
</div>
